body {
  margin: auto;
  background-color: #e8eced;
  font-family: Arial, Helvetica, sans-serif;
}

.head1 {
  background-color: #223040;
}

.head1 img {
  width: 100px;
  padding: 10px;
  margin-left: 10px;
}

.head2 {
  background-color: #364759;
  padding: 5px;
}

.head2 a {
  color: aliceblue;
  text-decoration: none;
  font-size: 15px;
  margin-left: 18px;
}

main {
  margin: 2%;
}

.orange {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 5px 0px;
  background-color: #f07924;
  color: aliceblue;
}

.image {
  background-image: url("/assets/images/bg-image.png");
  padding: 4%;
  padding-top: 2%;
  margin-top: 2%;
  margin-bottom: 3%;
  text-align: center;
}

.p1 {
  font-size: 30px;
  font-weight: bold;
  color: aliceblue;
}

.p2 {
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
}

.div1 {
  background-color: white;
  margin: 20px 0;
  padding: 5px;
  padding-bottom: 20px;
  overflow: hidden;
}

.div1T {
  display: block;
  font-size: 25px;
  margin: 10px;
  margin-left: 20px;
}

.div1T p {
  display: inline-block;
  margin: 0;
}

.div1T a {
  margin-left: 15px;
  font-size: 22px;
  color: #155d66;
  text-decoration: none;
}

.foto4 {
  display: inline-block;
  background-size: cover;
  width: 420px;
  height: 500px;
  margin: 5px;
  margin-left: 25px;
  vertical-align: top;
  border-radius: 10px;
  object-fit: cover;
}
